extends layout

block content
  h1= title
  a(href="/users/create-user") Create a new user

  h2 User List 
  ul 
    each user in users 
      li 
        a(href="/users/" + user._id) #{user.name}
  
  script(src="/javascripts/index.js") 